asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
dj-database-url==0.5.0
Django==3.1.7
django-background-tasks==1.2.5
django-compat==1.0.15
django-environ==0.4.5
gunicorn==20.0.4
idna==2.10
iso8601==0.1.14
paho-mqtt==1.5.1
psycopg2==2.8.6
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
schedule==1.0.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
whitenoise==5.2.0
wiotp-sdk==0.11.0
